
.metadata
apache-ant-1.9.4

assignment1-cafe
file-uploader


project1-ant
project1-gradle
project1-maven
RemoteSystemsTempFiles

apache-ant-1.9.4-bin.zip
file-uploader.7z

*/.classpath
*/.project
*/.settings