<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

  
    <servlet>
      <servlet-name>pizza-builder-servlet</servlet-name>
      <servlet-class>edu.nku.csc456.pizza.PizzaBuilderServlet</servlet-class>
      <init-param>
          <param-name>hello</param-name>
          <param-value>world</param-value>
      </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>pizza-builder-servlet</servlet-name>
        <url-pattern>/build</url-pattern>
    </servlet-mapping>
    
</web-app>